body {
    /* background-color: #ffffff; */
    background-image: url('images/43941.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}    

